<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="InfoBot, ChatBot , ai !" />
    <meta name="description" content="Chatbot pour la province de sidi kacem" />
    <title>InfoBot Bot</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/logo.png">
</head>

<body>

    <header>
        <img src="static/images/logo.png" class="logo" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a class="li-nav-link" href="static/Accueil.html" target="_blank">Accueil</a></li>
                <li><a class="li-nav-link" href="static/À-propos-de.html" target="_blank">À propos de</a></li>
                <li><a class="li-nav-link" href="static/Accueil.html#carousel-0b8c" target="_blank">Service</a></li>
            </ul>
        </nav>
        <a class="cta" href="static/Accueil.html#carousel_2f63" target="_blank"><button>Contact</button></a>
    </header>

    <marquee id="InfoBot_h1" class="h1">
        InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;InfoBot&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </marquee>

    <form method="POST" action="/">
        <input type="submit" value="إرسال">
        <input type="text" name="user_input" id="user_input" autofocus placeholder="أدخل سؤالك">
    </form>

    <div class="boot">
        {% if bot_response %}
        <p>{{ bot_response | safe }}</p>
        {% endif %}
    </div>

    <script>
        const heading = document.getElementById("InfoBot_h1");
        const colors = ["#160e3d", "#db545a", "blue", "purple"]; // Liste des couleurs

        let currentIndex = 0;

        function changeColor() {
            heading.style.color = colors[currentIndex];
            currentIndex = (currentIndex + 1) % colors.length;
        }

        setInterval(changeColor, 3000); // Changer toutes les 3 secondes (3000 ms)
    </script>
</body>

</html>